## imports

In [11]:
import pandas as pd

In [12]:
df_librarie = pd.read_excel('data/excelfiles/Urheber und Reihen.xlsx', sheet_name='Recherche', header=0)

df_blatter = pd.read_feather('data/feather/df_neuheiten_blatter.feather')
#df_buchhaus = pd.read_feather('data/feather/df_neuheiten_buchhaus.feather')

## Data Wrangling Urheber und Reihen

In [13]:
df_librarie

                 1. Urheber                       Alle Reihen
0                       NaN                      Asterix ; 20
1                       NaN                               NaN
2         May, Werner Jakob                               NaN
3      Schwaar, Hans Ulrich                               NaN
4          Engel, Franziska                               NaN
...                     ...                               ...
13723                   NaN  Schweizer Illustrierte ; 16/2023
13724                   NaN        Schweizer Garten ; 05/2023
13725       Guzowska, Marta                               NaN
13726      Gilbert, Lindsay                               NaN
13727       Bradford, Chris                Die Soul-Reihe ; 1

[13728 rows x 2 columns]

In [14]:
# add new column to df_libarie with the second element in alle reihen after the semicolon
df_librarie['Reihe'] = df_librarie['Alle Reihen'].str.split(';').str[1]
df_librarie['Auflage'] = df_librarie['Alle Reihen'].str.split(';').str[0]

df_librarie = df_librarie[['1. Urheber', 'Auflage', 'Reihe']]

In [16]:
df_librarie.tail(10)

,1. Urheber,Auflage,Reihe
13718,NaN,Schweizer Familie,16/2023
13719,"Geisler, Dagmar",NaN,NaN
13720,NaN,GEOlino: Die Welt für junge Entdeckerinnen und...,05/2023
13721,NaN,MERIAN : Die Lust am Reisen,23/2023
13722,"Evans, Cathy",NaN,NaN
13723,NaN,Schweizer Illustrierte,16/2023
13724,NaN,Schweizer Garten,05/2023
13725,"Guzowska, Marta",NaN,NaN
13726,"Gilbert, Lindsay",NaN,NaN
13727,"Bradford, Chris",Die Soul-Reihe,1

## Datawrangling

In [17]:
df_blatter.head()

,Titel,Preis,Autor,Genre,Text,ISBN/GTIN,Produktart,Einbandart,Verlag,Erscheinungsdatum,Auflage,Reihe,Seiten,Sprache,Masse,Artikel-Nr.
0,Atlas - Die Geschichte von Pa Salt,32.00,"Riley, LucindaWhittaker, HarryHauser, SonjaÜbe...",belletristik romane,"Paris, 1928. Ein Junge wird gerade noch rechtz...",978-3-442-31567-3,Buch,Gebunden,Goldmann,11.05.2023Erstverkaufstag11.05.2023,Deutsche Erstausgabe,n-Nr.08,,None,None,None
1,Der Feind,24.90,"Brand, Christine",belletristik krimi,Ein bizarre Mordserie an Männern sowie Schüsse...,978-3-7645-0771-8,Buch,Paperback,Blanvalet,26.04.2023,1. A.,n-Nr.05,,Deutsch,None,None
2,Die Krume Brot,29.00,nan,belletristik schweizer,"Adelina, Tochter italienischer Einwanderer, ar...",978-3-498-00320-3,Buch,Gebunden,Rowohlt,18.04.2023,,None,,Deutsch,"Breite 133 mm, Höhe 209 mm, Dicke 23 mmGewicht...",None
3,Anuschka und Finn,20.00,"Schawinski, Roger",fachbuecher geschichte schweiz,"Roger Schawinski über einen Medienskandal, der...",978-3-033-09890-9,Buch,Paperback,Radio 1 AG,12.05.2023,None,None,,Deutsch,"Breite 144 mm, Höhe 221 mm, Dicke 15 mmGewicht...",58408389
4,Elternabend,23.90,"Fitzek, Sebastian",belletristik romane,Stell dir vor ...\n... du musst eine halbe Ewi...,978-3-426-28413-1,Buch,Paperback,Droemer/Knaur,26.04.2023Erstverkaufstag26.04.2023,,None,,Deutsch,"Breite 135 mm, Höhe 210 mm, Dicke 25 mm",None

## Book analysis

In [61]:
# autors which have new books on the market and are in the librarie
interresting_books = df_blatter[df_blatter['autor'].isin(df_librarie['1. Urheber'])]
interresting_books.head()

,title,untertitel,autor,verlag,preis,seiten,sprache,einband,erscheinungsjahr,artikelnummer,isbn,auflage,reihe,reihenbandnummer,text
0,Die spürst du nicht,Roman,"Glattauer, Daniel",Zsolnay,CHF 34.50,304 S.,Deutsch,Fester Einband,2023,42421530,978-3-552-07333-3,nan,nan,nan,Der Bestsellerautor Daniel Glattauer lässt in ...
2,Sommerschwestern - Die Nacht der Lichter,Roman,"Peetz, Monika",Kiepenheuer & Witsch,CHF 23.90,352 S.,Deutsch,Kartonierter Einband (Kt),2023,42779092,978-3-462-00398-7,1. Auflage,Die Sommerschwestern-Romane,02,Monika Peetz' vier »Sommerschwestern« kehren z...
5,Bündner Sturm,Ein Fall für Giulia de Medici,"Gurt, Philipp",Kampa Verlag,CHF 24.90,336 S.,Deutsch,Kartonierter Einband (Kt),2023,42907560,978-3-311-12060-5,Ein Fall für Giulia de Medici,06,nan,Ein Sturm zieht über das herbstlich gefärbte E...
8,"Windhauch, das ist alles Windhauch",Roman,"Ryser, Werner",Cosmos,CHF 36.00,272 S.,Deutsch,Fester Einband,2023,43216342,978-3-305-00492-8,nan,nan,nan,"«Jetzt kehre ich als Bettler dorthin zurück, w..."
15,Bretonische Idylle,Kommissar Dupins zehnter Fall,"Bannalec, Jean-Luc",Kiepenheuer & Witsch,CHF 18.50,336 S.,Deutsch,Kartonierter Einband (Kt),2023,42779812,978-3-462-00489-2,1. Auflage,Kommissar Dupin ermittelt,10,Malerische Abgründe - Kommissar Dupin ermittel...

In [62]:
# Reihen which have new books on the market and are in the librarie
df_blatter[df_blatter['reihe'].isin(df_librarie['Alle Reihen'])]

Empty DataFrame
Columns: [title, untertitel, autor, verlag, preis, seiten, sprache, einband, erscheinungsjahr, artikelnummer, isbn, auflage, reihe, reihenbandnummer, text]
Index: []

In [63]:
# Reihennummer which have new books on the market and are in the librarie
df_blatter[df_blatter['reihenbandnummer'].isin(df_librarie['Reihennummer'])]

Empty DataFrame
Columns: [title, untertitel, autor, verlag, preis, seiten, sprache, einband, erscheinungsjahr, artikelnummer, isbn, auflage, reihe, reihenbandnummer, text]
Index: []

## export

In [64]:
interresting_books.reset_index(drop=True, inplace=True)

interresting_books.to_excel('data/excelfiles/df_interresting_books.xlsx', index=False)
interresting_books.to_feather('data/feather/df_interresting_books.feather')

## Ausblick

Weitere Informationen:

* Buchtitel der bestehenden Bücher um doppelte bücher zu erkennen